@import './../../../Utils/mySCSS/utils';

.wrapper{
    @include flexCenter(row, space-around, center);
    margin-top: 10px;
    .albumStyles {
        height: 200px;
        width: 300px;
        // border: 1px solid #ccc;
        border-radius: 5px;
        margin: 10px 20px;
        padding: inherit;
        @extend %common-transition;
        cursor: pointer;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        &:hover{
            transform: translateY(-3px);
        }
    }

    .section1{
        height: 30%;
        @include flexCenter(row, center, center);
    }

    .section2{
        height: 70%;
        @include flexCenter(column, center, center);
        background-color: #55efc4 ;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}