$grid-names : (
    1: navbar,
    2: body,
    3: footer
);

.gridContainer {
    height: 100vh;
    display: grid;
    grid-template-rows: 8vh 87vh 5vh;
    grid-template-areas:   "#{map-get($grid-names, 1 )}"
                           "#{map-get($grid-names, 2 )}"
                           "#{map-get($grid-names, 3)}"; 

    @for $i from 1 through 3{
        &>:nth-child(#{$i}){
            grid-area: map-get($grid-names, $i);
        }
    }
}

